<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMathService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService" contract="MathService.IMathService"
                name="BasicHttpBinding_IMathService" />
            <endpoint address="net.tcp://localhost:8090/MathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMathService" contract="MathService.IMathService"
                name="NetTcpBinding_IMathService">
                <identity>
                    <userPrincipalName value="musialm@stat.intra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>