<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyCompanyPublicService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyCompanyConfidentialService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CompanyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyCompanyPublicService"
                contract="CompanyService.IMyCompanyPublicService" name="BasicHttpBinding_IMyCompanyPublicService" />
            <endpoint address="net.tcp://localhost:8090/CompanyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyCompanyConfidentialService"
                contract="CompanyService.IMyCompanyConfidentialService" name="NetTcpBinding_IMyCompanyConfidentialService">
                <identity>
                    <userPrincipalName value="musialm@stat.intra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>